<div class="center">
    <mat-card class="card">
        <div class="center"><h1><b>Book Store Management</b></h1></div>
        <mat-card-header>
            <mat-card-title color="primary">
                <h1>Forgot Password</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Username or Email</mat-label>
                    <input matInput placeholder="Enter Your Username or Email"  formControlName="user_name">
                    <mat-icon matSuffix>supervised_user_circle</mat-icon>
                  </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Your Password"  formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Confirm Your Password"  formControlName="confirm_password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
            <div class="center mb-3">
                <button mat-raised-button color="primary" style="width:50%">Ok</button>
            </div>
        </form>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="center mt-3">
            <button
              routerLink="../signup"
              mat-raised-button
              color="accent"
              type="button"
              style="width:50%"
            >
              Sign Up
            </button>
            <mat-icon></mat-icon>
            <button
              routerLink="../login"
              mat-raised-button
              color="accent"
              type="button"
              style="width:50%"
            >
              Login
            </button>
            <mat-icon></mat-icon>
      </mat-card-actions>
    </mat-card>
</div>