<div class="container mt-3">
    <h2></h2>
    <div class="card">
        <div class="card-header bg-primary text-white text-center">User Profile</div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                  <div class="row">
                    <div class="col-sm-3">
                        <strong>ID</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong></strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>Status</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong></strong>
                    </div>
                  </div>
                  <hr class="solid" style="border-top: 1px solid blue">
                  <div class="row">
                    <div class="col-sm-6">
                        <strong>Name</strong>
                    </div>
                    <div class="col-sm-6">
                        <strong></strong>
                    </div>
                  </div>
                  <hr class="solid" style="border-top: 1px solid blue">
                  <div class="row">
                    <div class="col-sm-3">
                        <strong>Email</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong></strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>User Name</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong></strong>
                    </div>
                  </div>
                  <hr class="solid" style="border-top: 1px solid blue">
                  <div class="row">
                    <div class="col-sm-3">
                        <strong>Created By</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong></strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>Created At</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong></strong>
                    </div>
                  </div>
                  <hr class="solid" style="border-top: 1px solid blue">
                  <div class="row">
                    <div class="col-sm-3">
                        <strong>Updated By</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong></strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>Updated At</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong></strong>
                    </div>
                  </div>
                  <hr class="solid" style="border-top: 1px solid blue">
                </tbody>
              </table>
        </div>
    </div>
</div>
<div style="margin-bottom:10%"></div>