<div class="wrapper" *ngIf="this._loader.getLoading()">
  <div class="overlay">
      <div class="spinner-wrapper">
          <mat-spinner color="accent"> </mat-spinner>
      </div>
  </div>
</div>


<div class="">
  <mat-card class="card" *ngIf="book">
    <mat-card-header>
      <div class="table">
        <div class="row">
          <div class="col-sm-6">
            <button
            mat-button
            color="accent"
            aria-disabled="true"
            tabindex="-1"
          >
            <h1>Book Information</h1>
          </button>
            <mat-divider></mat-divider>
          </div>
          <div class="col-sm-2"></div>
          <div [ngClass]="book.status == 'delete' ? 'col-sm-4' : 'col-sm-2'">
            <span>
              <button
                mat-mini-fab
                color="primary"
                [routerLink]="['/books/update', book.id]"
                class="pull-right"
                aria-label="edit"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </span>
          </div>
          <div class="col-sm-2" [hidden]="book.status == 'Delete'">
            <span>
              <button
                mat-mini-fab
                color="warn"
                (click)="deleteBook(book.id)"
                class="pull-left"
                aria-label="delete"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </span>
          </div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Book </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-3">Tenant Id</div>
            <div class="col-sm-3">{{ book.tenant_id }}</div>
            <div class="col-sm-3">Book Id</div>
            <div class="col-sm-3">{{ book.id }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-sm-3">Name</div>
            <div class="col-sm-3">{{ book.name }}</div>
            <div class="col-sm-3">Status</div>
            <div class="col-sm-3">
              <span *ngIf="book.status == 'Active'">
                <button mat-fab extended>
                  <mat-icon>check_circle</mat-icon> {{ book.status }}
                </button>
              </span>
              <span *ngIf="book.status == 'Delete'">
                <button mat-fab extended color="warn">
                  <mat-icon>delete</mat-icon> {{ book.status }}
                </button>
              </span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-sm-3">Category</div>
            <div class="col-sm-3">{{ book.category }}</div>
            <div class="col-sm-3">Country of Orign</div>
            <div class="col-sm-3">{{ book.country_of_origin }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-sm-3">ISBN</div>
            <div class="col-sm-3">{{ book.isbn_no }}</div>
            <div class="col-sm-3">Edition</div>
            <div class="col-sm-3">{{ book.edition }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-sm-3">Publication</div>
            <div class="col-sm-3">{{ book.publication }}</div>
            <div class="col-sm-3">Publication Date</div>
            <div class="col-sm-3">
              {{ book.publication_date | date : "longDate" }}
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-sm-3">Language</div>
            <div class="col-sm-3">
              <span
                class="mt-2 badge rounded-pill bg-primary border border-success"
                *ngFor="let lang of book.languages"
              >
                {{ lang["language"] }}
              </span>
            </div>
            <div class="col-sm-3">Keywords</div>
            <div class="col-sm-3">
              <span
                class="mt-2 badge rounded-pill bg-primary border border-success"
                *ngFor="let keyword of book.keywords"
              >
                {{ keyword["keyword"] }}
              </span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-sm-3">Reading Age</div>
            <div class="col-sm-3">{{ book.reading_age }}</div>
            <div class="col-sm-3">Paperback</div>
            <div class="col-sm-3">{{ book.paperback }}</div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> History </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-3">Created By</div>
            <div class="col-sm-3">{{ book.created_by }}</div>
            <div class="col-sm-3">Created At</div>
            <div class="col-sm-3">{{ book.created_at | dateago }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-sm-3">Updated By</div>
            <div class="col-sm-3">{{ book.updated_by }}</div>
            <div class="col-sm-3">Updated At</div>
            <div class="col-sm-3">{{ book.updated_at | dateago }}</div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
