<div *ngIf="loading; else formBlock">
    <app-spinner></app-spinner>
</div>

<ng-template #formBlock>
    <div class="center">
        <div class="auth-container">
            <mat-card>
                <mat-card-header class="auth-header">
                    <mat-card-title>
                        <h1>Create Account</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="signupForm" (ngSubmit)="signup()">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Enter your name" formControlName="name">
                                    <mat-icon matSuffix>person</mat-icon>
                                    <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
                                        Name is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Enter your email" formControlName="email">
                                    <mat-icon matSuffix>email</mat-icon>
                                    <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                                        Email is required
                                    </mat-error>
                                    <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
                                        Please enter a valid email
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Mobile No</mat-label>
                                    <input matInput placeholder="Enter your mobile number" formControlName="moblie">
                                    <mat-icon matSuffix>phone</mat-icon>
                                    <mat-error *ngIf="signupForm.get('moblie')?.hasError('required')">
                                        Mobile number is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Choose a username" formControlName="user_name">
                                    <mat-icon matSuffix>account_circle</mat-icon>
                                    <mat-error *ngIf="signupForm.get('user_name')?.hasError('required')">
                                        Username is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password"
                                    formControlName="password">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                                    Password is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm your password"
                                    formControlName="confirm_password">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="signupForm.get('confirm_password')?.hasError('required')">
                                    Confirm Password is required
                                </mat-error>
                                <mat-error *ngIf="signupForm.get('confirm_password')?.hasError('mismatch')">
                                    Passwords do not match
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="row mb-3">
                            <mat-checkbox color="primary" [labelPosition]="labelPosition"
                                formControlName="terms_and_conditions">
                                I agree to the <a href="javascript:void(0)">Terms and Conditions</a>
                            </mat-checkbox>
                            <mat-error
                                *ngIf="isSubmit && signupForm.get('terms_and_conditions')?.hasError('requiredTrue')"
                                style="font-size: 0.75rem; margin-top: 4px;">
                                You must accept the terms and conditions
                            </mat-error>
                        </div>

                        <div class="row">
                            <button mat-raised-button color="primary" type="submit" class="w-100">
                                Sign Up
                            </button>
                        </div>
                    </form>

                    <div class="auth-links">
                        <a routerLink="../login">Already have an account? Login here</a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-template>