<div class="row" style="width: 100%" *ngIf="userProfile">
  <div class="col-sm-6">
    <mat-card class="card" style="margin: 5%">
      <mat-card-header>
        <mat-card-title>
          <button mat-button color="accent" aria-disabled="true" tabindex="-1">
            <h1>Profile</h1>
            <mat-divider></mat-divider>
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row mt-4 mb-2">
          <div class="col-sm-6">Status</div>
          <div class="col-sm-6">
            <span *ngIf="userProfile.status == 'Active'">
              <button mat-fab extended>
                <mat-icon>check_circle</mat-icon> {{ userProfile.status }}
              </button>
            </span>
            <span *ngIf="userProfile.status == 'Delete'">
              <button mat-fab extended color="warn">
                <mat-icon>delete</mat-icon> {{ userProfile.status }}
              </button>
            </span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-4">
          <div class="col-sm-6">Name</div>
          <div class="col-sm-6">{{ userProfile.name }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-4">
          <div class="col-sm-6">Email</div>
          <div class="col-sm-6">{{ userProfile.email }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-4">
          <div class="col-sm-6">Moblie No</div>
          <div class="col-sm-6">{{ userProfile.moblie }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-4">
          <div class="col-sm-6">Username</div>
          <div class="col-sm-6">{{ userProfile.user_name }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-4">
          <div class="col-sm-6">Created By</div>
          <div class="col-sm-6">{{ userProfile.created_by }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-4">
          <div class="col-sm-6">Cretaed At</div>
          <div class="col-sm-6">
            {{ userProfile.created_at | date }} | ({{
              userProfile.created_at | dateago
            }})
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-4">
          <div class="col-sm-6">Updated By</div>
          <div class="col-sm-6">{{ userProfile.updated_by }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-4">
          <div class="col-sm-6">Updated At</div>
          <div class="col-sm-6">
            {{ userProfile.updated_at | date }} | ({{
              userProfile.updated_at | dateago
            }})
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6">
    <div class="row" style="margin: 5%">
      <mat-card class="card">
        <div class="center" *ngIf="userProfile.display_profile != ''">
          <div id="avatar">
            <img
              mat-card-image
              class="rounded-circle"
              src={{userProfile.display_profile}}
              alt="profile Picture"
              style="height: 250px; width: 250px"
            />
          </div>
        </div>
        <div class="center" *ngIf="userProfile.display_profile == ''">
          <div id="avatar">
            <div class="avatar_name">{{ userProfile.name | firstletter }}</div>
          </div>
          <mat-divider class="mb-2"></mat-divider>
        </div>
        <mat-card-content>
          <div class="center mt-3" style="font-size: 20px">
            <b>{{ userProfile.name | uppercase }}</b>
          </div>
        </mat-card-content>
        <mat-card-actions class="center">
          <button
            type="button"
            style="margin: 3px"
            class="btn btn-danger"
            (click)="
              deactivateTenant(
                userProfile.status == 'Active' ? 'Delete' : 'Active'
              )
            "
          >
            Deactivate Your Accout
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="row mt-3">
      <mat-card class="card">
        <mat-card-actions class="center mt-3">
          <input
            type="file"
            style="margin: 3px; width: 50%"
            class="form-control"
            accept="image/*"
            (change)="onChange($event)"
            name="files[]"
          />
          <button type="button" style="margin: 3px" class="btn btn-primary" (click)="UpdateProfile()" >
            Update 
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
