.card {
  background-color: #fff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  position: relative;
  padding: 10px;
  box-shadow: 10px 10px 15px darksalmon;
}

.center {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: pink;
}

.avatar_name {
  text-align: center;
  margin-top: 6.5rem;
  font-size: 180px;
}
