/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.toast-top-center {
    top: 20px;
    margin: 5% 40% 6px;
    text-align: center;
}